{{!< default}}

<main class="content" role="main">

    {{#foreach posts}}

        <article class="{{post_class}}">
            <header class="post-header">

                <div class="post-canvas">
                    <canvas id="myCanvas" width="400" height="30"></canvas>
                </div>
            
                <h1 class="post-title"><a href="{{url}}">{{{title}}}</a></h1>

                <div class="post-meta">
                    <figure class="post-header-info-avatar">
                        <a href="/writers/wailin">
                            <img alt="{{author.name}}" height="30" src="{{author.image}}" width="30">
                        </a>
                    </figure>
                    <a href="/writers/wailin">{{author.name}}</a> wrote this on 
                    <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> {{tags prefix=" / "}}
                </div>

            </header>

            <section class="post-excerpt">
                <p>{{content}}</p>
            </section>

        </article>

    {{/foreach}}

    {{pagination}}

</main>